{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div>
        <h1>Вход</h1>
    </div>
    {% if error %}
        <p style="color: red">{{ error }}</p>
    {% endif %}
    <div>
        <form action="{{ url_for('reg') }}" method="get">
            <button type="submit">Регистрация</button>
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="login">
            <input type="password" name="password">
            <button type="submit">Войти</button>
        </form>
    </div>
{% endblock %}