{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}
    <div>
        <h1>Привет, {{ login }}</h1>
    </div>
    <div>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Выйти</button>
        </form>
        <form action="{{ url_for('changepassword') }}" method="get">
            <button type="submit">Смена пароля</button>
        </form>
        <form action="{{ url_for('account') }}" method="get">
            <button type="submit">Аккаунт</button>
        </form>
    </div>
{% endblock %}